*{
    margin:0px;
}
/* 整个页面 */
.wrap{
    margin:0px;
    background-image: url(../images/2.jpg);
    background-repeat: no-repeat;
    background-size: 1520px 1175px;
    width:1520px;
    min-height: 1200px;
}
/* 顶部导航 */
.navbar{
    position: absolute;
    margin:0px;
    border-radius: 15px 15px 0 0;
    width:100%;
    height:50px;
    background-color: rgba(174, 176,180,0.5);
    box-shadow: 4px 2px 6px rgba(115, 126, 130, 0.8);
}
.nav_row{
    margin:0px;
}
.nav_col{
    position: relative;
    float:left;
    text-decoration: none;
    list-style: none;
    padding-right: 10px;
    line-height: 50px;
    color: white;
}

/* 侧栏菜单 */
/* 菜单中下拉后的li */
.down_menu{
    text-align: center;
}
.down_menu:hover{
    background: rgba(178, 136, 230, 0.8);
}
.list_content{
    margin-top:60px;
    float: left;
    width:250px;
    line-height: 2em;
    background: rgba(127, 143,189,0.5);
    box-shadow: 4px 2px 6px rgba(115, 126, 130, 0.8);
}
.vertical{
    margin:0px;
    margin-left: -1em;
}
ul{
    list-style: none;

}
.drop_menu{
    background: rgba(115, 126, 130, 0.8);
}
.vertical li a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.drop_menu_ul li{
    display: block;
}
/* 右方内容 */
.content{
    width:1240px;
    float: left;
    margin-left:10px;
    margin-top:60px;
    background: rgba(228, 233, 235, 0.8);
    box-shadow: 4px 2px 6px rgba(115, 126, 130, 0.8);
}
/* 表格 */
table {
    display: table;
    width: 97%;
    margin:5px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
}
tr {
    display: table-row;
    vertical-align: inherit;
}
td:hover{
    background:rgba(200, 202, 174, 0.8); 
}
/* 输入内容 */
input{
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
    -webkit-writing-mode: horizontal-tb;
}

/* 按钮 */
button{
    cursor: pointer;
}

/* 日历 */
.calendar, .calendar table {
    display: none;
    border: 1px solid #CDE4B3;
    font-size: 11px;
    color: #000;
    cursor: default;
    background: #F9FCF1;
    font-family: tahoma,verdana,sans-serif;
}
.calendar, .calendar table {
    border: 1px solid #CDE4B3;
    font-size: 11px;
    color: #000;
    cursor: default;
    background: #F9FCF1;
    font-family: tahoma,verdana,sans-serif;
}
.coolbg2
{
  border: 1px solid #000000;
  height:18px;
}
.pubinputs
{
    height:22px;
    margin-top: 5px;
}
/* 所有的a标签 */
a{
    color: black;
    cursor: pointer;
    text-decoration: none;
}